@font-face {
    font-family: 'Open Sans';
    src: url('C:\Windows\Fonts');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/System/Library/Fonts');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/usr/share/fonts/TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arvo';
    src: url('/assets/fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arvo';
    src: url('/assets/fonts/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arvo';
    src: url('/assets/fonts/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arvo';
    src: url('/assets/fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Euphoria';
    src: url('/assets/fonts/euphoriascript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shadows Into Light';
    src: url('/assets/fonts/shadowsintolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Simonetta';
    src: url('/assets/fonts/simonetta-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Simonetta';
    src: url('/assets/fonts/simonetta-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Simonetta';
    src: url('/assets/fonts/simonetta-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Simonetta';
    src: url('/assets/fonts/simonetta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junction';
    src: url('/assets/fonts/Junction-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic';
    src: url('/assets/fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fanwood';
    src: url('/assets/fonts/fanwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fanwood';
    src: url('/assets/fonts/fanwood_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}